.test-class{
    margin: 0;
}

.burger,.burger-desck{
    position: relative;
    cursor: pointer;
    width: 21px;
    height: 21px;
    display: none;
    z-index: 100;
    @include media-for (null, $sm){
        display: block;
    }


    span{
        display: block;
        width: 100%;
        height: 2px;
        width: 17px;
        border-radius: 5px;
        background-color: $accent;
        position: relative;
        transition: .2s all ease-in;
        margin: 4px  0 0 0;
        margin-right: 0;
        margin-left: auto;

        &:nth-child(2n){
            width: 14px;
        }
    } 
}
.burger-desck{
    display: block;
    z-index: 3;
    @include media-for (null, $sm){
        display: none;
    }
}

.burger-active{
    z-index: 100;

    span:first-child{
        transform: rotate(45deg);     
        margin-top: 11px;
    }

    span:nth-child(2n){
        opacity: 0;
        transition: .2s all ease-in;
    }
    
    span:last-child{
        transform: rotate(-45deg);
        top: -12px;
    }
}