.category-page, .resault-search{
    text-align: center;
    padding: 30px 0 70px;

    @include media-for (null, 1025px){
        padding: 30px 0 90px;
    }

    .section__title{

        &:after{
            right: 104%;
            @include media-for (null, 1025px){
                right: 98%;
             }
        }
        &::before{
            @include media-for (null, 822px){
                left: 106%;
             }
        }

    }

    @include media-for (null, $sm){
        padding: 35px 0 0px;
    }

    .section__title{
        margin: 0;
    }


    .line{
        margin-top: 40px;
        @include media-for (null, $sm){
            margin-top: 30px;
         }

    }


    .btn-blue{
        margin-top: 40px;
        width: 211px;
        padding: 20px;

        @include media-for (null, $sm){
           margin-bottom: 3rem!important;
           display: block;
           margin: auto;
           padding: 15px 0;
        }
    }

    .info-message{
        text-align: center;
        color: $accent;
        margin-top: 45px;

        @include media-for (null, $sm){
            margin-top: 10px;
         }
        h3{
            font-weight: 400;
            font-size: 26px;
            font-family: 'DelaGothicOne';

            @include media-for (null, $sm){
                font-size: 14px;
             }
        }

        p{
            font-weight: 400;
            font-size: 14px;
            margin: auto;
            margin-bottom: 25px;
            width: 26%;

            @include media-for ( null, $mid-desktop){
                width: 30%;
             }

            @include media-for (null, $tablet){
                width: 45%;
             }

             @include media-for (null, $sm){
                width: 85%;
                margin-bottom: 30px;
                margin-top: 15px;
             }
        }

        .btn-blue{
            display: flex !important;
            align-items: center;
            justify-content: center;
            margin: auto;
            width: 277px;
            height: 62px;
        }
    }

    .cheked-wrap{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 6rem;
        margin-bottom: 3rem;

        @include media-for (null, $sm){
            margin-top: 3rem ;
         }

        .chaked-box{
            border: 1px solid $accent;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 14px 20px;
            border-radius: 24px;
            font-size: 12px;
            font-weight: 4 00;
            color: $accent;
            margin-right: .4rem;
            margin-bottom: .6rem;

            @include media-for (null, $sm){
                // height: 50px;
                border-radius: 20px;
             }

            .close-btn-wrap{
                position: relative;
                width: 16px;
                height: 16px;
                cursor: pointer;
                border: 1px solid $accent;
                border-radius: 100%;
                margin-left: 8px;
                display: flex;
                align-items: center;
                justify-content: center;

                &::before,
                &::after{
                    position: absolute;
                    content: '';
                    width: 10px;
                    height: 1px;
                    background-color: $accent;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                }

                &::before{
                    transform: translate(-50%,-50%) rotate(45deg);
                }
                &::after{
                    transform: translate(-50%,-50%) rotate(320deg);
                }
            }
        }

        .chaked-box-vegaterian{
            border: 1px solid $green ;
            color: $green ;

            .close-btn-wrap{
                border: 1px solid $green ;

                &::before,
                &::after{
                    background-color: $green ;
                }
            }
        }

        .chaked-box-discount{
            border: 1px solid #ff671d ;
            color: #ff671d ;

            .close-btn-wrap{
                border: 1px solid #ff671d ;

                &::before,
                &::after{
                    background-color: #ff671d;
                }
            }
        }

        .chaked-box-hot{
            border: 1px solid #d53939 ;
            color: #d53939 ;

            .close-btn-wrap{
                border: 1px solid #d53939;

                &::before,
                &::after{
                    background-color: #d53939;
                }
            }
        }




    }

}


.resault-search{

    @include media-for (null, 1025px){
        padding: 60px 0 90px;
    }

    .section__title{

        &:after{
            right: 104%;
            @include media-for (null, 1025px){
                right: 106%;
             }

             @include media-for (null, 822px){
                right: 102%;
             }

             @include media-for (null, 769px){
                right: 101%;
             }
        }
        &::before{
            @include media-for (null, 822px){
                left: 106%;
             }
        }

    }
}


