// USER VARIABLES SECTION

$accent: #2A1A5E; // Accent Color
$fontsize: 16px; // Body Font Size
$text-black: #262730;
$text-white: #ffff;
$textcolor: rgba($color: #1B1C21, $alpha: .7); // Text Color
$orange: #F45905;
$red: #D53939;
$hover-svg: #3F2E77;
$bg-gray: #D9D9D9;
$green: #507849;
$bg-gray-opacity: rgba($color: #D9D9D9, $alpha: .19);
$bgdark-blue: #2F37A4;
$light-blue: #6775D0;
$text-gray: #969696;


$lineheight: 1.65; // Document Line Height
// $userfont: roboto-oh5, sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px;
$gutter: $grid-gutter-width;

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'; // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/_popover.scss'; // Optional Bootstrap 
// @import "node_modules/bootstrap/scss/_modal.scss";
// @import "node_modules/bootstrap/scss/_buttons.scss";



// @import 'node_modules/swiper/swiper.scss';
// @import 'node_modules/swiper/modules/pagination/pagination.scss';



// FONTS LOAD SECTION


@font-face {
    font-family: "DelaGothicOne";
    src:  url('../fonts/DelaGothicOne-Regular.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



