.footer,.footer-modal{
    position: relative;
    color: $text-white;
    background-color: $accent;
    padding: 24px 0 54px;
    @include media-for (null, $sm){
        text-align: center;
        top: 100%;

        padding-bottom: 80px;
    }



    .logo{
        text-align: center;
    }

    ul{
        display: flex;

        li{
            white-space: nowrap;

            a{
                font-weight: 400;
                font-size: 12px;
                display: block;

                &:hover{
                    color: $orange;
                }
            }


        }
    }

    .ul-one{
        justify-content: flex-start;

        @include media-for (null, 822px){
           justify-content: center;
           flex-direction: column;
           align-items: center;
        }
        li{
            &:first-child{
                padding-left: 1rem;
                padding-right: .7rem;

                @include media-for (null, 822px){
                    padding: 0;
                }
            }
        }
    }

    .ul-two{
        justify-content: flex-end;

        @include media-for (null, 822px){
           justify-content: center;
           flex-direction: column;
           align-items: center;
        }
        li{
            &:last-child{
                padding-left: .7rem;
                padding-right: 1rem;

                @include media-for (null, 822px){
                    padding: 0;
                }
            }
        }
    }

    p{
        font-size: 12px;
        text-align: center;
    }


    .social-wrap {
        position: relative;
        z-index: 40;
        @include media-for (null, 822px){
           width: 14rem;
           margin: 22px auto 40px;
        }


        a{
            width: 3rem;
            height: 2rem;
            display: block;
        }

    }

    .copmpany{
        img{
            @include media-for (null, $tablet){
                display: block;
                margin: auto;
            }
        }

    }
}
.footer-modal {
    display: none;
}

.helpcrunch-iframe-wrapper iframe {
    z-index: 98 !important;
}
.rngst_phone_button {
    margin-bottom: 0 !important;
    bottom: 6px !important;

    @include media-for (null, $sm){
        margin-right: 0 !important;
    }
}

#scrollTop {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 100px;
    right: 55px;
    z-index: 99;
    outline: 0;
    background-color: #fff;
    color: #fff;
    cursor: pointer;
    padding: 16px 14px;
    font-size: 18px;
    transform: translateX(50%);
    width: 64px;
    height: 64px;
    border-radius: 27px;
    border: 1px solid #2a1a5e;
}

#scrollTop:hover {
    border-color: #e68127;
}

#scrollTop:hover svg path{
    fill: #e68127;
}

