.menu-page{
    text-align: center;
    padding: 50px 0 150px;
    min-height: calc(100% - 150px);

    @include media-for (2047px, null){
        min-height: 72vh;
        height: 72vh;
        
    }

    @include media-for (null, 1025px){
        min-height: 72vh;
        height: 72vh;
        
    }

    @include media-for (null, $tablet){
        min-height: 60vh;
        height: 60vh;
        
    }


    @include media-for (null, $sm){
        height: 100%;
        padding: 35px 0 50px;
    }

    .breadcrumbs{
        align-items: start;
    }

    .menu-item{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'DelaGothicOne';
        font-weight: 400;
        font-size: 26px;
        border-radius: 50px;    
        border: 1px solid rgba($color: #2A1A5E, $alpha: .4);
        color: $accent;
        margin-bottom: 18px;
        padding: 25px 0;

        @include media-for (null, $tablet){
            font-size: 16px;
            padding: 20px 0;
            height: 68px;
        }

        .img-wrap{
            margin-left: 15px;

            @include media-for (null, $sm){
                width: 1.4rem;

                svg{
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &:hover{
            border: 1px solid #FF671D;
            color: #FF671D;
        }
    }
    .menu-item-sushi{
        .img-wrap{
            @include media-for (null, $sm){
                svg{
                    width: 150%;
                    height: 150%;
                }
            }
        }
    }
}