.product-top{
    position: relative;
    padding: 55px 0 70px;

    @include media-for (null, $sm){
        padding-bottom: 30px;
    }

    .breadcrumbs{
        margin-bottom: 15px;

        @include media-for (null, $sm){
            display: none;
        }

    }

    .card-produc-block{
        position: relative;
        z-index: 1;
    }
 
    .product-img-wrap{
        position: relative;
        width: 100%;
        box-shadow: 0px 4px 15px 0px rgba($color: #000, $alpha: .05);
        border-radius: 45px;
        height: 100%;
        height: 446px;
        padding: 50px 25px;

        @include media-for (null, 1200px){
            height: 332px;
        }

        @include media-for (null, 993px){
            height: auto;
            margin-bottom: 4rem;

        }

        @include media-for (null, $sm){
            margin-bottom: 1.5rem;
        }

        .sale-badge{
            @include media-for (null, 993px){
                top: .8rem;
                right: .8rem;
            }

            @include media-for (null, 993px){
                
            }
        }
        
        a{
            display: block;
            text-align: center;
            height: 100%;
            img{
                object-fit: contain;
                display: block;
                margin: auto;
                width: 100%;
                height: 100%;
            }
        }

        .сhat-bubbles-wrap{
            top: 84%;
        }


        .сhat-bubbles-wrap{


            @include media-for (null, 1025px){
                left: 0%;
                transform: translateX(-60%);
            }
        }
        
        .сhat-bubbles {
    
            @include media-for (null, 1025px){
                min-width: 6rem;
            }
    
            P{
                @include media-for (null, 1025px){
                    
                }
            }
        
    
        
            &:before{
    
              @include media-for (null, 1025px){
                right: 32px;
                left: auto;
                background-color: $bg-gray;
                border-bottom-left-radius: 100px;
                border-bottom-right-radius: 50px;
                transform: skew(-227deg, 0);
              }
            }
            &:after{
    
    
                @include media-for (null, 1025px){
                    left: auto;
                    right: 26px;
                    background-color: $bg-gray;
                    border-bottom-left-radius: 50px;
                    border-bottom-right-radius: 100px;
                    transform: rotateY(-160deg);
                }
            }
          
    
            & >:first-child:before {
    
              @include media-for (null, 1025px){
                left: auto;
                right: 26px;
                width: 12px;
                height: 1px;

                rotate: 271deg;
                border-top: 11px solid transparent;
                border-left: 13px solid #ffff;
              }
            }
            & >:first-child:after {
    
              @include media-for (null, 1025px){
                    left: auto;
                    right: 31px;
                    width: 5px;
                    height: 5px;
                    -webkit-transform: skew(45deg,0);
                    -ms-transform: skew(45deg,0);
                    transform: skew(-45deg,0);
                }
            }
        }

        
    }

    h1{
        margin-bottom: 30px;

        @include media-for (null, $sm){
            font-size: 16px;
            margin-bottom: 14px;
        }
    
        &::before,
        &::after{
            display: none;
        }
    }

    .description{
        font-size: 14px;
        font-weight: 300;
        color: $text-black;
        margin-bottom: 10px;
        width: 80%;
    }

    .inform{
        font-size: 14px;
        font-weight: 300;
        color: $text-black;
    }

    .wraper{
        @include media-for (null, $sm){
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
        }
    }

    .product__cart__info{
        font-size: 26px;
        color: $accent;
        font-weight: 700;
        margin-bottom: 22px;

        @include media-for (null, $sm){
            margin: 0;
            font-size: 20px;
        }

        .regular-price{
            color: rgba(50,53,73,.7);
            font-weight: 300;
            font-size: 14px;
            text-decoration: line-through;
        }
    }



    .price{
        // font-size: 26px;
        // color: $accent;
        // font-weight: 700;
        // margin-bottom: 22px;

        // @include media-for (null, $sm){
        //     margin: 0;
        //     font-size: 20px;
        // }
    }


    .button{
        display: flex;
        border-radius: 20px;
        background-color: #FF671D;
        padding: 15px 40px;
        color: $text-white;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;

        @include media-for (null, $sm){
            width: 100%;
            align-items: center;
            justify-content: center;
            height: 50px;
            font-size: 14px;
        }

        span{
            padding-top: 0.2rem;
        }

        &:hover{
            background-color: #FF7937;
        }

        @include media-for (null, $sm){
            border-radius: 20px;
        }
    }

    .column-right{
        padding-left: 2.5rem;

        @include media-for (null, 14013px){
            padding-left: 1rem;
        }

        @include media-for (null, $sm){
            padding-left: 0rem;
        }
    }

    .surprise{
        margin-top: 3rem;
        box-shadow: 0px 4px 15px 0px rgba($color: #000, $alpha: .05);
        border-radius: 30px;
        width: 100%;
        height: 100%;
        padding: 20px ;
        height: 160px;
        width: 182px; 

        @include media-for (null, $sm){
            width: 100%;
            height: 89px;
            display: flex;
            align-items: center;
            margin-top: 10px;
        }

        h4{
            color: #FF671D;
            font-weight: 400;
            font-size: 16px;
            font-family: 'DelaGothicOne';

            @include media-for (null, $sm){
                margin: 0;
                font-size: 14px;
            }
        }

        img{
            width: 110px;
            display: block;
            margin-left: auto;
        }
    }




    .storefront-product-pagination{

        @include media-for (null, 1128px){
            display: none !important;
        }

        .next,.prev{
            position: relative;
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 62%;
            opacity: .5;
            z-index: 1;
            transition: all .2s ease-in;

            

        }

        .prev{
            .row{
                align-items: stretch !important;
                .column-right{
                    position: relative;
                    padding-top: 3.7rem;

                    .section__title{
                        position: absolute;
                        right: 0;
                        text-align: right;
                    
                    }
                }
            }
        }

        .card-produc-block{
            z-index: 1;
        }
        .prev{
            left: -55%;

            @include media-for (null, 1367px){
                left: -58%;
            }

            @include media-for (null, 1237px){
                left: -58%;
            }

            .hover-box{
                right: 100%;
            }

            &:hover{
                opacity: 1;

                .hover-box{
                    right: -17%;
                }
            }
        }
        .next{
            right: -55%;

            .hover-box{
                left: 100%;
            }

            &:hover{
                opacity: 1;
                
                .hover-box{
                    left: -17%;
                }
            }
        }


        .hover-box{
            position: absolute;

            bottom: 10%;
            z-index: 12;
            padding: 30px 20px;
            border-radius: 50px;
            background-color: $text-white;
            transition: all .3s ease;
            box-shadow: 0px 4px 15px 0px rgba($color: #000, $alpha: .05);

            img{
                width: 195px;
                height: 135px;
                object-fit: contain;
                display: block;
                margin: auto;
                margin-bottom: 24px;

            }

            h4{
                padding: 0 30px;
                font-size: 14px;
                font-weight: 700;
                text-align: center;
                max-width: 70%;
                margin: auto;
                color: $accent;
                background-color: $text-white;
            }


            .link-next,.link-prev{
                display: block;

            }
        }

        
    }

}

.quantity{
    display: flex;
    align-items: center;
    margin: 25px 0 30px;

    @include media-for (null, $sm){
        margin: 20px 0 12px;
    }

    input{
        border: none;
        outline: none;
        width: 40px;
        text-align: center;
        color: $text-black;
        font-size: 14px;
        font-weight: 700;

    }


    button{
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $bg-gray;
        width: 24px;
        height: 24px;
        font-size: 14px;
        font-weight: 700;
        color: $accent;
        padding: 0;
        

        &:hover{
            background-color: #F5F5F5;
        }
    }

    .plus{
        padding-bottom: 0px;
        @include media-for (null, $sm){
            padding-bottom: 2px;
        }
    }
    .minus{
        padding-bottom: 3px;
    }
}

.prosuct-like {
    text-align: center;
    padding-bottom: 60px;

    @include media-for (null, $sm){
        padding-bottom: 40px;
    }
    .title-bg-two{
        span{
            @include media-for (null, $sm){
                display: none;
            }
        }
    }
    .title-bg-two:before {
        left: 106%;
    }

    .btn-blue{
        margin-top: 20px;
    }
}