
.product__item{
    position: relative;
    display: block;
    border: 1px solid rgba($color: $accent, $alpha: .0);
    box-shadow: 0px 4px 15px 0px rgba($color: #000, $alpha: .0);
    border-radius: 45px;
    // padding-top: 35px;
    cursor: pointer;
    margin-bottom: 25px;
    transition: box-shadow .3s;
    background-color: $text-white;

    // @include media-for (null, $mid-desktop){
    //     padding-top: 15px;
    // }


    @include media-for (null, 1025px){
        border-radius: 32px;
        box-shadow: 0px 4px 15px 0px rgba($color: #000, $alpha: .05);
    }

    @include media-for (null, $sm){
        margin-bottom: 10px;
        border-radius: 30px;
    }

    &:hover{
        box-shadow: 0px 4px 15px 0px rgba($color: #000, $alpha: .05);

        .btn-primary{
            opacity: 1 !important;
            z-index: 10 !important;
        }
    }


    .product__image{
        display: block;
        border-radius: 50px 50px 0px 0px;
        text-align: center;
        overflow: hidden;
        border-radius: 45px 45px  0 0 ;
        height: 264px;
        margin: auto;
        margin-bottom: 18px;

        @include media-for (2000px, null){
            height: 360px;
        }

        @include media-for (null, $mid-desktop){
            margin-bottom: 20px;
            height: 200px;
        }

        @include media-for (null, $sm){
            border-radius: 35px 35px 0 0;
            height: 170px;
            // margin-bottom: 30px;
        }

        img{
            width: 100%;
            object-fit: contain;
            height: 100%;

            @include media-for (null, $sm){

            }
        }

    }

    .product__detail{
        text-align: center;
        padding: 0 3rem;

        @include media-for (null, 769px){
            padding: 0 2rem;
        }

        h3{
            font-weight: 700;
            font-size: 26px;
            color: #2a1a5e;
            margin-bottom: 11px;
            height: 4rem;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            
            @include media-for (null, 1025px){
                font-size: 24px;
                height: 3.8rem;
            }

            @include media-for (null, $sm){
                margin-bottom: 14px;
                font-size: 16px;
                height: 2.5rem;
            }
        }

        .cart__detail{
           p{
               color: #262730;
               font-weight: 300;
               font-size: 14px;
               height: 1.5rem;
               white-space: nowrap;
               overflow: hidden;
               text-overflow: ellipsis;

               @include media-for (null, $sm){
                    // display: none;
                    font-size: 13px;
                }
           }
        }

    }

    .product__cart{
        margin: 25px 0 40px;
        padding: 0 3rem;

        @include media-for (null, $mid-desktop){
            margin: 15px 0 15px;
        }

        @include media-for (null, $sm){
            margin: 15px 0 20px;
        }

        .product__cart-info-block{
            text-align: center;

            .product__cart__info{
                display: flex;
                flex-direction: column-reverse;

                .price{
                    font-weight: 700;
                    font-size: 24px;
                    color: $accent;

                    @include media-for (null, $sm){
                        font-size: 16px;
                    }

                }
                .regular-price{
                    display: none;
                }
                li{
                    color: rgba($color: #323549, $alpha: .7);
                    font-weight: 300;
                    font-size: 14px;
                }
            }
            .weight{
                color: rgba($color: #323549, $alpha: .7);
                font-weight: 300;
                font-size: 14px;
            }

        }

        .product__cart__info-discount{
            position: relative;
            width: 10rem;
            margin: auto;

            @include media-for (null, $sm){
                width: 8rem;
            }

            .price{
                color: #FF671D !important;
            }

            .regular-price{
                position: absolute;
                top: 14%;
                left: 0;
                font-weight: 300;
                font-size: 14px;
                color: rgba($color: #323549, $alpha: .7);
                text-decoration: line-through;
                display: block !important;

                @include media-for (null, $sm){
                    font-size: 14px;
                    top: 4%;
                }
            }

        }

        .btn-primary{
            position: absolute;
            bottom: 25px;
            right: 20px;
            opacity: 0;
            z-index: -1;
            width: 106px;
            // height: 64px;
            background-color: #FF671D;
            border-radius: 27px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px 0;
            text-decoration: none;
            cursor: pointer;
            transition: background-color .3s,border-color .3s;

            &:hover{
                background-color: #FF7937;
            }

            @include media-for (null, 1025px){
                opacity: 1;
                z-index: 1;
                right: 10px;
                bottom: 10px;
                padding-right: 0;
            }

            @include media-for (null, $sm){
                width: 89px;
                border-radius: 24px;

                svg{
                    width: 23px;
                    height: 21px;
                    display: block;
                }
            }

            span{
                font-size: 12px;
                text-transform: uppercase;
                color: $text-white;
                font-weight: 700;
                margin-right: 12px;

                @include media-for (null, $sm){
                    margin-right: 9px;
                }
            }
        }

    }



    .сhat-bubbles-wrap{


        @include media-for (null, 1025px){
            left: 0%;
            transform: translateX(-60%);
        }
    }

    .сhat-bubbles {

        @include media-for (null, 1025px){
            min-width: 6rem;
        }

        P{
            @include media-for (null, 1025px){

            }
        }



        &:before{

          @include media-for (null, 1025px){
            right: 32px;
            left: auto;
            background-color: $bg-gray;
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 50px;
            transform: skew(-227deg, 0);
          }
        }
        &:after{


            @include media-for (null, 1025px){
                left: auto;
                right: 26px;
                background-color: $bg-gray;
                border-bottom-left-radius: 50px;
                border-bottom-right-radius: 100px;
                transform: rotateY(-160deg);
            }
        }


        & >:first-child:before {

          @include media-for (null, 1025px){
            left: auto;
            right: 26px;
            width: 12px;
            height: 1px;

            rotate: 271deg;
            border-top: 11px solid transparent;
            border-left: 13px solid #ffff;
          }
        }
        & >:first-child:after {

          @include media-for (null, 1025px){
                left: auto;
                right: 31px;
                width: 5px;
                height: 5px;
                -webkit-transform: skew(45deg,0);
                -ms-transform: skew(45deg,0);
                transform: skew(-45deg,0);
            }
        }
    }
}


.sale-bage-wrap{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;

    @include media-for (null, $sm){
        top: 10px;
        right: 10px;
    }
}

.sale-badge{
    position: relative;
    color: #000;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #FF671D;
    cursor: pointer;
    background: url(../img/discount.svg), #FF671D;
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: 50% 50%;
    margin-bottom: 13px;

    @include media-for (null, 1025px){
        right: 0px;
        top: 0px;
    }

    @include media-for (null, 1025px){
        width: 36px;
        height: 36px;
        img{
            width: 26px;
        }
    }

    @include media-for (null, $sm){
        right: 0;
        top: 0;
    }

    img{
        width: 2rem;
        height: 2rem;
    }

    .сhat-bubbles-wrap {
        top: 80%;
        transform: translateX(-17%);
    }

    &:hover{

        .сhat-bubbles-wrap{
            opacity: 1;
            z-index: 50;
            height: auto;
        }
    }

    &:last-child{
        margin-bottom: 0;
    }
}

.hot-sale{
    background: url(../img/hot.svg), $red;
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: 50% 50%;
}

.new-sale{
    background: url(../img/new.svg), $accent;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 50% 50%;
}

.vegaterian-sale{
    background: url(../img/vegaterian.svg), $green;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 50% 50%;
}

.popular-sale{
    background: url(../img/popular.svg), $light-blue;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 60% 50%;
}


.no-product-wrap{
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    height: 100%;
    pointer-events:none;
    z-index: 1;
    background-color: rgba($color: $text-white, $alpha: .5);
    box-shadow: 0px 4px 15px 0px rgba($color: #000, $alpha: .05);
    border-radius: 45px;

    @include media-for (null, 1025px){
        border-radius: 32px;
    }

    @include media-for (null, $sm){
        border-radius: 30px;
    }

    .no-product{
        position: absolute;
        width: 293px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #FF671D;
        padding: 10px 0px 12px;
        font-size: 16px;
        font-weight: 400;
        font-family: 'DelaGothicOne';
        text-align: center;
        border-radius: 0 0 55px 55px;
        z-index: 10;
        color: white;


        @include media-for (null, $mid-desktop){
            width: 260px;
        }


        @include media-for (null, 1295px){
            width: 250px;
            font-size: 14px;
        }

        @include media-for (null, 1215px){
            width: 214px;
        }

        @include media-for (null, 1025px){
            border-radius: 0 0 42px 42px;
        }

        @include media-for (null, $tablet){
            width: 250px;
        }

        @include media-for (null, $sm){
            font-size: 14px;
            border-radius: 0 0 45px 45px;
        }
    }
}


