.accordion-section{
    padding: 50px 0 110px;

    @include media-for (null, $sm){
        padding: 60px 0 30px;
    }


    .slide-header{
        padding-top:20px;
        font-size:20px;
    }

    .slide-wrap{
        border: 1px solid $accent;
        border-radius: 27px;
        margin-bottom: 18px;
    }

    .slide-header{
        position: relative;
        cursor:pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 23px 25px 23px 40px;
        border-radius: 26px;

        @include media-for (null, $sm){
            padding: 15px 25px;
        }

        .glyphicon{
            position: absolute;
        }
        h4{
            font-size: 16px;
            font-weight: 400;
            color: $accent;
            font-family: 'DelaGothicOne';
            margin: 0;
        }

        .span-plus{
            position: relative;
            display: block;
            width: 18px;
            height: 18px;
            flex: 0 0 18px;
            border-radius: 100%;
            border: 1px solid $accent;
            margin-left: 1rem;

            &::before{
                position: absolute;
                content: '';
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 7px;
                height: 1px;
                background-color: $accent;
            }

            &::after{
                position: absolute;
                content: '';
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) rotate(90deg);
                width: 7px;
                height: 1px;
                background-color: $accent;
            }
        }
    }

    .slide-content{
        display: none;
        padding: 38px 40px 54px;

        @include media-for (null, $sm){
            padding: 15px 25px;
            border-radius: 22px;
        }
        p{
            font-size: 14px;
            font-weight: 300;
            color: $text-black;
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }

            @include media-for (null, $sm){
                font-size: 13px;
                width: 100%;
            }
        }
        ul, ol {
            font-size: 14px;
            font-weight: 300;
            color: $text-black;
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }
        }
        ul {
            list-style: disc;
            padding-left: 20px;
        }
    }

    .accordion-item-active{
        background-color: $accent;
        border-bottom: 1px solid $accent;
        border-radius: 26px;
        h4{
            color: $text-white;
        }
        .span-plus{
            border: 1px solid $text-white;
            &::after{
                display: none;
            }
            &::before{
                position: absolute;
                content: '';
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 7px;
                height: 1px;
                background-color: $text-white;
            }
        }
    }




}