.cart-modal{
    position: fixed;
    overflow-y: hidden;
    height: 100%;
    width: 400px;
    right: -200%;
    padding-top: 25px;
    background-color: $text-white;
    height: 100vh;
    border-top: 1px solid $bg-gray;
    transition: opacity .5s ease-in;
    z-index: -100;
    overflow-y: auto;
    opacity: 0;
    box-sizing: border-box;

    .widget_shopping_cart_content{
        height: 94% !important;
        display: flex !important;
        flex-direction: column !important;

        .cart-list{
            flex: 1 1 auto !important;
        }

        .orange-btn {
            padding: 19px 20px;

        }
    }


    @include media-for (null, $sm){
        width: 100%;
        z-index: 101;
    }

    h4{
        font-size: 16px;
        font-weight: 400;
        font-family: 'DelaGothicOne';
        text-transform: uppercase;
        text-align: center;
        color: $accent;
        margin-bottom: 15px;
    }

    .cart-list{
        overflow-y: scroll;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            width: 5px;
            padding-right: 5px;
        }

        &::-webkit-scrollbar-thumb{
            border-radius: 10px;
            width: 5px;
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: rgba($color: #000000, $alpha: .25);
            padding-right: 5px;
        }

        li{
            &:last-child{
                .line{
                    display: none;
                }
            }
        }

    }

    .sum-wrap{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
        margin: 0 1rem;
        margin-top: 15px;

        @include media-for (null, $sm){
            margin: 10px 1rem 0;
        }

        span{
            font-size: 20px;
            font-weight: 700;
            color: $accent;

            @include media-for (null, $sm){
                font-size: 16px;
            }

            &:first-child{
                font-weight: 300;
                font-size: 14px;
                color: $text-black;
            }
        }
    }

    .weight{
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 8px;
    }

    .cart__preview-item{
        position: relative;
        display: flex;
        padding-bottom: 1rem;

        .sale-bage-wrap{
            top: auto;
            bottom: 0.5rem;
            left: .5rem;
            width: 29%;

            .sale-badge{
                width: 25px;
                height: 25px;
                background-size: 56%;
                margin-bottom: 6px;
            }
        }

        .cart__img{
            width: 35%;
            margin-right: .5rem;

            img{

                // width: 100%;
                // height: 100%;
                width: 100px;
                display: block;
                margin: auto;
                height: 100%;
                object-fit: contain;
            }
        }

        .cart__detail{
            width: 64%;

            h5{
                font-size: 14px;
                color: $accent;
                font-weight: 700;
                padding-top: 1rem;
                margin-bottom: 2px;
            }

            .cart__detail__header{
                position: relative;

                .remove-button{
                    position: absolute;
                    right: 1rem;
                    top: .5rem;
                    cursor: pointer;
                    opacity: 0;

                    @include media-for (null, $sm){
                        opacity: 1;
                    }
                }
            }

            .product__cart{
                display: flex;
                justify-content: space-between;
                padding-right: 1rem;
                @include media-for (null, $sm){
                    font-size: 12px;

                }
                .product__cart__info{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    @include media-for (null, $sm){
                        margin-left: .5rem;

                    }
                    .price{
                        font-weight: 700;
                        font-size: 20px;
                        color: $accent;

                        @include media-for (null, $sm){
                            font-size: 16px;
                        }

                    }
                    .regular-price{
                        display: none;
                    }
                }

                .product__cart__info-discount{

                    .price{
                        color: #FF671D !important;
                        margin-left: .5rem;
                    }

                    .regular-price{
                        display: block;
                        font-weight: 300;
                        font-size: 14px;
                        text-decoration: line-through;
                        color: rgba($color: #323549, $alpha: .7);


                        @include media-for (null, $sm){
                            font-size: 12px;

                        }
                    }

                }
            }

            .quantity{
                margin: 0;

                input{
                    @include media-for (null, $sm){
                        width: 30px;

                    }
                }
            }
        }

        .line{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            margin: 0;
        }


        &:hover{

            .remove-button{
                opacity: 1 !important;
            }
        }
    }

    .orange-btn{
        max-width: 277px;

    }



    .local-wrap{
        background-color: $text-white;
        color: rgba($color: #323549, $alpha: .7);
        margin-top: 10px;

        @include media-for (null, $sm){
            display: none;
        }

        a{
            color: rgba($color: #323549, $alpha: .7);
            text-align: center;
            display: block;
            background-color: $text-white;
            cursor: default;

        }
    }


    .cart-empty{
        text-align: center;
        color: $accent;
        padding: 60% 0 50%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        // @include media-for (null, 1441px){
        //     padding: 34% 0 28%;
        //     height: 92%;
        // }

        // @include media-for (null, 1025px){
        //     padding: 60% 0 50%;
        //     height: 95%;
        // }

        // @include media-for (null, $sm){
        //     padding: 24% 0 28%;
        //     height: 92%;
        // }
        @media (min-height: 0px) and (max-height: 900px){
            padding: 34% 0 28%;
            height: 92%;
        }

        h5{
            font-family: 'DelaGothicOne';
            font-size: 16px;
            font-weight: 400;

            @include media-for (null, $sm){
                font-size: 14px;
            }
        }

        p{
            font-size: 14px;
            font-weight: 400;

            @include media-for (null, $sm){
                font-size: 13px;
            }
        }


    }


}



.cart-modal-active{
    right: 0;
    opacity: 1;
    z-index: 99;
    .close-cart{
        display: none;
        @include media-for (null, $sm){
            position: fixed;
            display: block;
            width: 18px;
            right: 1.2rem;
        }
    }
}


.resaul-sum-wrap{
    background-color: $text-white;
    bottom: 0rem;
    padding-bottom: 0rem;
    border-top: 1px solid rgba($color: #000000, $alpha: .1);

    @include media-for (null, $sm){
        width: 100%;
        padding-bottom: 1rem;
    }
    @include media-for (null, 375px){
        padding-bottom: .5rem;
    }
}