.categories-business-lunch{
    text-align: center;
    padding: 50px 0 80px;


    .card-info{
       color: $accent; 
       @include media-for (null, 1025px){
            margin-bottom: 30px;
        }

        @include media-for (null, $sm){
            margin-bottom: 55px;
         } 
       h3{
            text-align: start;
            color: $accent;
            font-size: 26px;
            font-weight: 400;
            font-family: 'DelaGothicOne';
            margin-top: 85px;
            line-height: 150%;

            @include media-for (null, 1025px){
                margin-top: 0px;
                font-size: 24px;
            }
            
            @include media-for (null, $tablet){
                margin-top: 30px;
                font-size: 20px;
            }

            @include media-for (null, $sm){
                margin-top: 10px;
                text-align: center;
                font-size: 14px;
             } 
        }

        .img-wrap{
            img{
                width: 100%;

                @include media-for (null, $sm){
                    width: 70%;
                 } 
            }
        }
    }

    @include media-for (null, $sm){
        padding: 35px 0 0px;
     } 
}