.news-blogs{
    text-align: center;
    padding: 50px 0 150px;

    @include media-for (null, $tablet){
        padding: 50px 0 50px;
    }

    @include media-for (null, $sm){
        padding: 35px 0 50px;
    }

    .section__title{
        @include media-for (null, $sm){
            margin-bottom: 0;
        } 
    }

    .container-fluid{
        @include media-for (1600px, null){
            padding: 0 200px;
        }
    }

    .grid-container {
        @include media-for (null, 1025px){
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }

        .item1 {
          @include media-for (null, 1025px){
            grid-row: 1 / span 2;
            grid-column: 1 / span 2;
            }
        }
      
        .item2 {
            @include media-for (null, 1025px){
                grid-row: 2 / span 1;
                grid-column: 1 / span 1;
            }
    
        }
      
        .item3 {
          @include media-for (null, 1025px){
            grid-row: 2 / span 1;
            grid-column: 2 / span 1;
          }
    
        }
      
        .item4 {

          @include media-for (null, 1025px){
            grid-row: 3 / span 1;
            grid-column: 1 / span 2;
          }
    
        }
      
        .item5 {
            @include media-for (null, 1025px){
                grid-row: 4 / span 1;
                grid-column: 1 / span 1;
              }
    
        }
      
        .item6 {
            @include media-for (null, 1025px){
                grid-row: 4 / span 1;
                grid-column: 2 / span 1;
            }
    
        }
    
        .item7 {
            @include media-for (null, 1025px){
                grid-row: 5 / span 1;
                grid-column: 1 / span 2;
            }
        }
    
        .item8 {
            @include media-for (null, 1025px){
                grid-row: 6 / span 1;
                grid-column: 1 / span 1;
            }
        }
    
        .item9 {
            @include media-for (null, 1025px){
                grid-row: 6 / span 1;
                grid-column: 2 / span 1;
            }
        }
    }
    
 
}

.grid-container {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-top: 90px;
    
    
    @include media-for (null, $mid-desktop){           
        gap: 15px;
    }

    @include media-for (null, $tablet){
        margin-top: 0px;
    }

    @include media-for (null, $sm){           
        gap: 6px;
        margin-top: 50px;
    }
  
    .item1 {
      grid-row: 1 / span 2;
      grid-column: 1 / span 3;
    }
  
    .item2 {
      grid-row: 1 / span 1;
      grid-column: 4 / span 3;

    }
  
    .item3 {
      grid-row: 2 / span 1;
      grid-column: 1 / span 2;

    }
  
    .item4 {
      grid-row: 2 / span 1;
      grid-column: 3 / span 2;


    }
  
    .item5 {
      grid-row: 2 / span 1;
      grid-column: 5 / span 2;

    }
  
    .item6 {
        grid-row: 3/span 1;
        grid-column: 1 / span 3;

    }

    .item7 {
        grid-row: 3/span 1;
        grid-column: 4 / span 3;
    }

    .item8 {
        grid-row: 4/span 1;
        grid-column: 1 / span 3;
    }

    .item9 {
        grid-row: 4/span 1;
        grid-column: 4 / span 3;
    }
}

.item{
    position: relative;
    display: block;
    overflow: hidden;
    height: 315px;
    border-radius: 80px;

    @include media-for (null, $mid-desktop){           
        height: 250px;
    }

    @include media-for (null, 1025px){           
        height: 210px;
        border-radius: 60px;
    }

    @include media-for (null, $sm){           
        height: 100px;
        border-radius: 16px;
    }

    .img-wrap{
        height: 100%;

        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
        }
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    
}

.info-wrap{
    position: absolute;
    left: 50px;
    bottom: 50px;
    text-align: left;
    color: $text-white;
    z-index: 1;
    @include media-for (null, $tablet){
        left: 25px;
        bottom: 35px;
    }

    @include media-for (null, $sm){
        left: 10px;
        bottom: 15px;
    }

    .data-span{
        font-weight: 400;
        font-size: 14px;

        @include media-for (null, $sm){
            font-size: 11px;
        }
    }

    h4{
        font-weight: 400;
        font-size: 16px;
        font-family: 'DelaGothicOne';

        @include media-for (null, $sm){
            font-size: 11px;
        }
    }
}