.privacy-policy,.return-policy,.public-offer{
    text-align: center;
    padding: 50px 0 94px;
    color: $text-black;

    @include media-for (null, $tablet){
        padding: 50px 0 50px;
    }

    @include media-for (null, $sm){
        padding: 35px 0 50px;
    }

    .section__title{
        @include media-for (null, $mid-desktop){
            font-size: 22px;
        }
    }

    .breadcrumbs{
        @include media-for (null, 1025px){
            display: none;
        }

        a{
            text-decoration: none;
        }
    }
    .content{
        width: 80%;
        margin: auto;

        @include media-for (null, $tablet){
            width: 90%;
        }

        @include media-for (null, $sm){
            width: 100%;
        }
    }

    ul{
        li{
            font-size: 14px;
            margin-bottom: 25px;
            font-weight: 300;
            ul{
                li{
                    margin-bottom: 5px;
                }
            }

            p{
                font-weight: 700;
            }
        }
    }

    h5,h4{
        font-size: 16px;
        font-weight: 400;
        font-family: 'DelaGothicOne'
    }

    h4{
        color: $accent;
        margin-bottom: 0;
    }

    .list-style{
        list-style: inside;
    }

    .section__title{
        @include media-for (null, $sm){
            font-size: 16px;
        }
        &::after{
            // @include media-for (null, $tablet){
            //     right: 90%;
            // }
            @include media-for (null, $sm){
                right: 100%;
            }
        }
        &::before{
            // @include media-for (null, $tablet){
            //     left: 93%;
            // }
            @include media-for (null, $sm){
                left: 105%;
            }
        }
    }
}

.return-policy{

    .section__title{
        @include media-for (null, $tablet){
            margin-bottom: 30px;
        }
        &::after{
            @include media-for (null, $tablet){
                right: 90%;
            }
            @include media-for (null, $sm){
                display: none;
            }
        }
        &::before{
            @include media-for (null, $tablet){
                left: 93%;
            }
            @include media-for (null, $sm){
                display: none;
            }
        }
    }

    a{
        color: $text-black;
        text-decoration: underline;
    }
}


.public-offer{

    // .section__title{
    //     @include media-for (null, $sm){
    //         font-size: 16px;
    //     }
    // }
    p{
        font-size: 14px;
        font-weight: 300;
    }

    ul{
        li{
            margin-bottom: 5px;
        }
    }

    h5{
        margin-top: 30px;
        margin-bottom: 5px;

        @include media-for (null, $sm){
            font-size: 14px;
        }
    }
    a{
        color: $text-black;
        text-decoration: underline;
    }
}


.privacy-policy{
    a{
        color: $text-black;
        text-decoration: underline;
    }
    p{
        font-weight: 300 !important;
    }

}