.we-got-success{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .2);
    z-index: -100;
    opacity: 0;
    padding-top: 92px;
    display: none;

    @include media-for (null, 1400px){
        padding-top: 60px;
    }

    @include media-for (null, 1025px){
        padding-top: 150px;
    }

    @include media-for (null, $tablet){
        padding-top: 100px;
    }


    .we-got-success-block{
        border-radius: 50px;
        max-width: 870px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        color: $accent;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

        @include media-for (null, $tablet){
            width: 90%;
        }
        @include media-for (null, $sm){
            width: 80%;
            background-color: $text-white;
        }

        p{
            font-size: 14px;
            @include media-for (null, $sm){
                font-size: 12px;
            }
        }

        .left-col{
            padding: 46px 0 57px;
            border-radius: 50px 0 0 50px;
            background-color: $text-white;
            height: 100%;

            @include media-for (null, $sm){
                // border-radius: 50px 50px 0px 0px;
                padding: 18px 0 15px;
                border-radius: 0 0 35px 35px;
            }

            h3{
                font-weight: 400;
                font-size: 16px;
                font-family: 'DelaGothicOne';
                margin-bottom: 14px;

                @include media-for (null, $sm){
                    font-size: 14px;
                }
            }
    
            p{
                margin-bottom: 40px;
                font-weight: 300;

                @include media-for (null, $sm){
                    margin-bottom: 20px;
                }
            }

            .img-wrap{
                @include media-for (null, $sm){
                    width: 40%;
                    margin: auto;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .right-col{
            padding: 46px 0 57px;
            background-color: #F6F6F6;
            border-radius: 0px 50px 50px 0px;
            text-align: center;
            height: 100%;

            @include media-for (null, $sm){
                // border-radius: 0px 0px 50px 50px;
                padding: 15px 0 18px;
                border-radius: 35px 35px 0px 0px;
            }


            .chek-list{
                font-size: 20px;
                font-weight: 400;
                font-family: 'DelaGothicOne';
                margin-bottom: 10px;
                white-space: nowrap !important;
                width: 100%;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                display: flex;
                align-items: center;
                justify-content: center;
              
                .number{
                    margin-left: .3rem;
                }
                span{
                    display: block;

                    @include media-for (null, $sm){
                        height: 20px;
                    }
                }

                @include media-for (null, $sm){
                    font-size: 14px;
                }
            }

            .data, .pay,.all-price-text,.tel{
                display: block;
                color: $accent;
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 7px;

                @include media-for (null, $sm){
                    font-size: 13px;
                    margin-bottom: 0px;
                }
            }

            a{
                display: block;
                color: $accent;
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 7px;
            }

            .pay{
                margin-bottom: 98px;

                @include media-for (null, $sm){
                    margin-bottom: 28px;
                }
            }
            .all-price-text{
                margin-bottom: 3px;
            }
            .all-price{
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 700;
            }
        }
    }

}

.we-got-success-active{
    z-index: 200;
    opacity: 1;
    display: block;
}