.product-section {
    padding: 60px 0 70px;
    text-align: center;

    @include media-for (null, $tablet){
        padding: 50px 0 50px;
    }

    @include media-for (null, $sm){
        padding: 40px 0 30px;
    }
    
    .btn-blue{
        margin-top: 15px;

        @include media-for (null, $sm){
            margin-top: 28px;
            width: 218px;
            height: 49px;
            padding: 14px 38px;
        }
    }
}

.popular-product{
    @include media-for (null, $sm){
        padding-top: 20px;
    }
}