.section-pay{
    text-align: center;

    @include media-for (null, $sm){
        padding-top: 70px;
       
    }

    .section__title{
        margin-bottom: 55px;
        &:before,
        &:after{
          display: none;
        }

        @include media-for (null, $sm){
            font-size: 18px;
            padding: 0 55px;
            line-height: 1.4;
            margin-bottom: 40px;
           
        }

    }

    .img-wrap{
        position: relative;
        height: 100%;

        h2{
            position: absolute;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 26px;

            @include media-for (null, 1025px){    
                font-size: 20px;
                top: 1rem;
                left: 22%;
            }
            
            @include media-for (null, $sm){
                top: 1.5rem;
                left: 7%;
                transform: translateX(0%);
                padding: 0;
                font-size: 14px;
            }
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        
    }

    .img-wrap-card{
        h2{
            left: 5% !important;
            transform: translateX(0%);

            @include media-for (null, 1025px){    
                
            }

            @include media-for (null, $sm){
                left: 10% !important;
            }
        }
    }

}