.top-slider{
    
    
    @include media-for (null, $sm){
        overflow: hidden;
    } 

    .swiper{
        max-width: 100% !important;
    }

    .banner-slider {
        position: relative;
        padding: 120px 0 80px;
        overflow-y: visible;
        position: relative;
        max-width: 1920px;
        margin: 0 auto;
        margin-top: -65px;

        @include media-for (null, $sm){
            padding: 60px 0 30px;
            margin-top: -35px;
        } 

        a{
            position: relative;
            display: block;
            height: 100%;
            width: 100%;
        }
        &__slide {

            max-height: 500px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: rotate(0deg)translateY(0%);
                transition: all linear 0.3s;
                border-radius: 5px;
                border: 1px solid rgba($color: #000000, $alpha: .05);
                border-radius: 55px;
                overflow: hidden;

                @include media-for (null, $sm){
                    border-radius: 20px;

                } 

                
            }

            
            
            &.swiper-slide-prev img {
                transform: rotate(15deg)translateY(-27%);
            }

            &.swiper-slide-next img {
                transform: rotate(-15deg)translateY(-27%);
            }
        }

        .swiper-slide{
            position: relative;
            
            &::before,
            &::after{
                position: absolute;
                content: '';
                background-repeat: no-repeat;
                z-index: 10;
                background-size: contain;
            }

        }
    }
    .swiper-button-prev, .swiper-button-next {
        position: absolute;
        top: 0%;
        width: 12%;
        height: 100%;
        z-index: 50;
        @include media-for (null, 1025px){
            display: none;
        }
    }
    .swiper-button-prev {
        left: 0;
    }
    .swiper-button-next{
        right: 0;
    }

}


.slide-1{
    &::before{
        left: -4rem;
        bottom: -2rem;
        width: 200px;
        height: 70px;
        background: url(../img/orange-fish1.svg);

        @include media-for (null, $sm){
            width: 72px;
            height: 28px;
            left: -1rem;
            bottom: -1rem;
        }
    }


    &::after{
        right: -3.5rem;
        top: -2rem;
        width: 300px ;
        height: 70px;
        background: url(../img/orange-fish2.svg);

        @include media-for (null, $sm){
            width: 110px;
            height: 28px;
            right: -1rem;
            top: -.7rem;
        }
    }
}

.slide-2{
    &::before{
        left: -2rem;
        top: 40%;
        width: 150px;
        height: 38px;
        background: url(../img/dark-blue-fish.svg);

        @include media-for (null, $sm){
            width: 80px;
            height: 29px;
            left: -1rem;
        }
    }

    a{
        &::before{
            position: absolute;
            content: "";
            top: -1.2rem;
            left: 20%;
            width: 94px;
            height: 28px;
            background: url(../img/dark-blue-fish3.svg);
            background-repeat: no-repeat;
            background-size: contain;
            z-index: 10;

            @include media-for (null, $sm){
                width: 60px;
                height: 22px;
                left: 20%;
                top: -.6rem;
            }
        } 
    }

    &::after{
        right: -2rem;
        bottom: -1.5rem;
        width: 155px;
        height: 58px;
        background: url(../img/dark-blue-fish2.svg);

        @include media-for (null, $sm){
            right: -3rem;
            bottom: -1rem;
            width: 110px;
            height: 28px;
        }
    }
}


.slide-3{
    &::before{
        left: -3rem;
        bottom: -3rem;
        width: 200px;
        height: 70px;
        background: url(../img/light-blue-fish2.svg);

        @include media-for (null, $sm){
            left: -1rem;
            bottom: -1rem;
            width: 110px;
            height: 28px;
        }
    }


    &::after{
        right: -3rem;
        top: -1rem;
        width: 211px;
        height: 70px;
        background: url(../img/light-blue-fish.svg);

        @include media-for (null, $sm){
            right: -1rem;
            top: -.7rem;
            width: 120px;
            height: 28px;
        }
    }
}



.slide-4{

    &::before{
        left: -3rem;
        bottom: -3rem;
        width: 200px;
        height: 70px;
        background: url(../img/fish-decor-slide4-2.svg);

        @include media-for (null, $sm){
            left: -1rem;
            bottom: -1rem;
            width: 130px;
            height: 30px;
        }
    }


    &::after{
        right: -3rem;
        top: -1rem;
        width: 211px;
        height: 70px;
        background: url(../img/fish-decor-slide4.svg);

        @include media-for (null, $sm){
            right: -1rem;
            top: -.7rem;
            width: 135px;
            height: 30px;
        }
    }
}